In [1]:
import pandas as pd
import csv
import numpy as np
import glob
import os
from datetime import datetime
from sqlalchemy import create_engine
import pgeocode
from sqlalchemy import event
import swifter
import time
from pandarallel import pandarallel
import json
from shapely import Polygon
from shapely import Point, LineString
import warnings


# Ignore all warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

### read sample hourly dataset

In [2]:
sample=pd.read_csv('station_files_hourly/01001099999.csv')
sample.head(3)

      STATION                 DATE  SOURCE   LATITUDE  LONGITUDE  ELEVATION                    NAME REPORT_TYPE  CALL_SIGN QUALITY_CONTROL             WND          CIG           VIS      TMP      DEW      SLP  AA1  AA2  AA3  AJ1  AY1  AY2  GA1  GA2  GA3  GE1  GF1  IA1            KA1            KA2              MA1               MD1  MW1     OC1              OD1  UA1         REM  EQD
0  1001099999  2022-01-01T01:00:00       4  70.933333  -8.666667        9.0  JAN MAYEN NOR NAVY, NO       FM-12      99999            V020  358,1,N,0139,1  99999,9,9,9  999999,9,9,9  -0087,1  -0111,1  10140,1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  010,M,-0078,1  010,N,-0088,1  99999,9,10128,1  0,1,002,1,+999,9  NaN  0182,1  9,01,0154,1,999  NaN  SYN004BUFR  NaN
1  1001099999  2022-01-01T02:00:00       4  70.933333  -8.666667        9.0  JAN MAYEN NOR NAVY, NO       FM-12      99999            V020  353,1,N,0127,1  99999,9,9,9  999999,9,9,9  -0090,1  -0114,1  10141,1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  010,M,-0087,1  010,N,-0093,1  99999,9,10129,1  3,1,001,1,+999,9  NaN  0183,1  9,01,0148,1,999  NaN  SYN004BUFR  NaN
2  1001099999  2022-01-01T05:00:00       4  70.933333  -8.666667        9.0  JAN MAYEN NOR NAVY, NO       FM-12      99999            V020  350,1,N,0105,1  99999,9,9,9  999999,9,9,9  -0099,1  -0127,1  10138,1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  010,M,-0097,1  010,N,-0101,1  99999,9,10126,1  8,1,002,1,+999,9  NaN  0149,1  9,01,0110,1,999  NaN  SYN004BUFR  NaN

#### read the ploygon file

In [7]:
f=open('polygon.txt','r')
p=json.load(f)
p

{'geometry': {'coordinates': [[[-77.90335456889079, 46.075580026850844],
    [-77.90335456889079, 39.2376280432014],
    [-67.86436058248752, 39.2376280432014],
    [-67.86436058248752, 46.075580026850844],
    [-77.90335456889079, 46.075580026850844]]],
  'type': 'Polygon'}}

In [4]:
coordinates = p['geometry']['coordinates'][0]
coordinates

[[-77.90335456889079, 46.075580026850844],
 [-77.90335456889079, 39.2376280432014],
 [-67.86436058248752, 39.2376280432014],
 [-67.86436058248752, 46.075580026850844],
 [-77.90335456889079, 46.075580026850844]]

In [5]:
for i in range(len(coordinates)):
    coordinates[i]=coordinates[i][::-1]
coordinates

[[46.075580026850844, -77.90335456889079],
 [39.2376280432014, -77.90335456889079],
 [39.2376280432014, -67.86436058248752],
 [46.075580026850844, -67.86436058248752],
 [46.075580026850844, -77.90335456889079]]

In [8]:
polygon = Polygon(coordinates)

In [9]:
point = Point(44.5588, -72.5778)
print(polygon.contains(point))

True

In [10]:
files = glob.glob("station_files_hourly/*.csv")
files[0:10]

['station_files_hourly/57328099999.csv',
 'station_files_hourly/71393099999.csv',
 'station_files_hourly/72210103039.csv',
 'station_files_hourly/71670099999.csv',
 'station_files_hourly/40632099999.csv',
 'station_files_hourly/95658099999.csv',
 'station_files_hourly/68377099999.csv',
 'station_files_hourly/89266099999.csv',
 'station_files_hourly/72548404942.csv',
 'station_files_hourly/71446099999.csv']

In [11]:
len(files)

13474

In [13]:
d={}
n=0
for file in files:
    f=csv.reader(open(file,'r'))
    next(f)
    for line in f:
        point = Point(line[3],line[4])
        if polygon.contains(point):
            d[line[0]]={}
            d[line[0]]['latitude']=line[3]
            d[line[0]]['longitude']=line[4]
            d[line[0]]['path']=file
        break
    n+=1
    if n%1000==0:
        print(n)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000

In [14]:
required_cols=['STATION','DATE','LATITUDE','LONGITUDE','NAME','WND','CIG','VIS','TMP','DEW','SLP','KA1','KA2','MA1','MD1','OC1','OD1']
fdf=[]
for station,v in d.items():
    file=v['path']
    df=pd.read_csv(file)
    for col in required_cols:
        if col not in df.columns:
            df[col]=999999
    fdf.append(df[required_cols])  
    
frame = pd.concat(fdf, axis=0, ignore_index=True)
frame.head(3)

       STATION                 DATE  LATITUDE  LONGITUDE                                           NAME             WND          CIG           VIS      TMP      DEW      SLP  KA1  KA2              MA1               MD1  OC1  OD1
0  72616354770  2022-01-01T00:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH, NH US  999,9,C,0000,5  00061,5,W,N  000805,5,N,5  +0028,5  +0022,5  10147,5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN
1  72616354770  2022-01-01T01:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH, NH US  999,9,C,0000,5  00091,5,W,N  000805,5,N,5  +0028,5  +0022,5  10145,5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN
2  72616354770  2022-01-01T02:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH, NH US  999,9,C,0000,5  00061,5,W,N  000805,5,N,5  +0028,5  +0017,5  10141,5  NaN  NaN  10129,5,09753,5  8,9,004,9,+999,9  NaN  NaN

In [15]:
frame.shape

(3713513, 17)

In [16]:
# check if station numbers are unique in each file
print("Unique station count:",frame.STATION.nunique())
print("no of files:",len(d))

Unique station count: 243
no of files: 243

In [17]:
# expand temp metrics
frame[['WIND_DIRECTION_ANGLE','WIND_DIRECTION_QUALITY_CODE','WIND_TYPE_CODE','WIND_SPEED_RATE','WIND_SPEED_QUALITY_CODE']]=frame['WND'].str.split(',',expand=True)
frame[['SKY_CEILING_HEIGHT','SKY_CEILING_QUALITY','SKY_CEILING_DETERMINATION','SKY_CEILING_CAVOK_CODE']]=frame['CIG'].str.split(',',expand=True)
frame[['VIS_DISTANCE_DIM','VIS_DISTANCE_QUALITY','VIZ_VARIABILITY','VIZ_QUALITY_VARIABILITY']]=frame['VIS'].str.split(',',expand=True)
frame[['AIR_TEMP','AIR_TEMP_QUALITY']]=frame['TMP'].str.split(',',expand=True)
frame[['AIR_DEW','AIR_DEW_QUALITY']]=frame['DEW'].str.split(',',expand=True)
frame[['ATM_PRESSURE','ATM_PRESSURE_QUALITY']]=frame['SLP'].str.split(',',expand=True)
frame=frame.drop(['WND','CIG','VIS','TMP','DEW','SLP'],axis=1)
frame.head()

       STATION                 DATE  LATITUDE  LONGITUDE                                           NAME  KA1  KA2              MA1               MD1  OC1  OD1 WIND_DIRECTION_ANGLE WIND_DIRECTION_QUALITY_CODE WIND_TYPE_CODE WIND_SPEED_RATE WIND_SPEED_QUALITY_CODE SKY_CEILING_HEIGHT SKY_CEILING_QUALITY SKY_CEILING_DETERMINATION SKY_CEILING_CAVOK_CODE VIS_DISTANCE_DIM VIS_DISTANCE_QUALITY VIZ_VARIABILITY VIZ_QUALITY_VARIABILITY AIR_TEMP AIR_TEMP_QUALITY AIR_DEW AIR_DEW_QUALITY ATM_PRESSURE ATM_PRESSURE_QUALITY
0  72616354770  2022-01-01T00:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH, NH US  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10147                    5
1  72616354770  2022-01-01T01:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH, NH US  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN                  999                           9              C            0000                       5              00091                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10145                    5
2  72616354770  2022-01-01T02:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH, NH US  NaN  NaN  10129,5,09753,5  8,9,004,9,+999,9  NaN  NaN                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0017               5        10141                    5
3  72616354770  2022-01-01T03:28:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH, NH US  NaN  NaN  10129,5,09753,5               NaN  NaN  NaN                  999                           9              C            0000                       5              00061                   5                         W                      N           000402                    5               N                       5    +0028                5   +0022               5        99999                    9
4  72616354770  2022-01-01T03:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH, NH US  NaN  NaN  10129,5,09753,5               NaN  NaN  NaN                  999                           9              C            0000                       5              00061                   5                         W                      N           000402                    5               N                       5    +0028                5   +0022               5        10143                    5

In [18]:
frame.columns

Index(['STATION', 'DATE', 'LATITUDE', 'LONGITUDE', 'NAME', 'KA1', 'KA2', 'MA1',
       'MD1', 'OC1', 'OD1', 'WIND_DIRECTION_ANGLE',
       'WIND_DIRECTION_QUALITY_CODE', 'WIND_TYPE_CODE', 'WIND_SPEED_RATE',
       'WIND_SPEED_QUALITY_CODE', 'SKY_CEILING_HEIGHT', 'SKY_CEILING_QUALITY',
       'SKY_CEILING_DETERMINATION', 'SKY_CEILING_CAVOK_CODE',
       'VIS_DISTANCE_DIM', 'VIS_DISTANCE_QUALITY', 'VIZ_VARIABILITY',
       'VIZ_QUALITY_VARIABILITY', 'AIR_TEMP', 'AIR_TEMP_QUALITY', 'AIR_DEW',
       'AIR_DEW_QUALITY', 'ATM_PRESSURE', 'ATM_PRESSURE_QUALITY'],
      dtype='object')

In [19]:
# create station name and country columns seperately from name column
frame[['NAME','COUNTRY_CODE']]=frame['NAME'].str.split(', ',expand=True)
frame['COUNTRY_CODE']=frame['COUNTRY_CODE'].apply(lambda x: str(x)[-2:])
frame.head()

       STATION                 DATE  LATITUDE  LONGITUDE                                    NAME  KA1  KA2              MA1               MD1  OC1  OD1 WIND_DIRECTION_ANGLE WIND_DIRECTION_QUALITY_CODE WIND_TYPE_CODE WIND_SPEED_RATE WIND_SPEED_QUALITY_CODE SKY_CEILING_HEIGHT SKY_CEILING_QUALITY SKY_CEILING_DETERMINATION SKY_CEILING_CAVOK_CODE VIS_DISTANCE_DIM VIS_DISTANCE_QUALITY VIZ_VARIABILITY VIZ_QUALITY_VARIABILITY AIR_TEMP AIR_TEMP_QUALITY AIR_DEW AIR_DEW_QUALITY ATM_PRESSURE ATM_PRESSURE_QUALITY COUNTRY_CODE
0  72616354770  2022-01-01T00:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10147                    5           US
1  72616354770  2022-01-01T01:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN                  999                           9              C            0000                       5              00091                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10145                    5           US
2  72616354770  2022-01-01T02:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH  NaN  NaN  10129,5,09753,5  8,9,004,9,+999,9  NaN  NaN                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0017               5        10141                    5           US
3  72616354770  2022-01-01T03:28:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH  NaN  NaN  10129,5,09753,5               NaN  NaN  NaN                  999                           9              C            0000                       5              00061                   5                         W                      N           000402                    5               N                       5    +0028                5   +0022               5        99999                    9           US
4  72616354770  2022-01-01T03:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH  NaN  NaN  10129,5,09753,5               NaN  NaN  NaN                  999                           9              C            0000                       5              00061                   5                         W                      N           000402                    5               N                       5    +0028                5   +0022               5        10143                    5           US

In [18]:
# handle dtypes
frame.dtypes

STATION                          int64
DATE                            object
LATITUDE                       float64
LONGITUDE                      float64
NAME                            object
KA1                             object
KA2                             object
MA1                             object
MD1                             object
OC1                             object
OD1                             object
WIND_DIRECTION_ANGLE            object
WIND_DIRECTION_QUALITY_CODE     object
WIND_TYPE_CODE                  object
WIND_SPEED_RATE                 object
WIND_SPEED_QUALITY_CODE         object
SKY_CEILING_HEIGHT              object
SKY_CEILING_QUALITY             object
SKY_CEILING_DETERMINATION       object
SKY_CEILING_CAVOK_CODE          object
VIS_DISTANCE_DIM                object
VIS_DISTANCE_QUALITY            object
VIZ_VARIABILITY                 object
VIZ_QUALITY_VARIABILITY         object
AIR_TEMP                        object
AIR_TEMP_QUALITY                object
AIR_DEW                         object
AIR_DEW_QUALITY                 object
ATM_PRESSURE                    object
ATM_PRESSURE_QUALITY            object
COUNTRY_CODE                    object
dtype: object

In [19]:
# convert date object to datetime
frame['DATE']=pd.to_datetime(frame['DATE'],format='mixed')
frame['STATION']=frame['STATION'].astype(str)
frame.dtypes

STATION                                object
DATE                           datetime64[ns]
LATITUDE                              float64
LONGITUDE                             float64
NAME                                   object
KA1                                    object
KA2                                    object
MA1                                    object
MD1                                    object
OC1                                    object
OD1                                    object
WIND_DIRECTION_ANGLE                   object
WIND_DIRECTION_QUALITY_CODE            object
WIND_TYPE_CODE                         object
WIND_SPEED_RATE                        object
WIND_SPEED_QUALITY_CODE                object
SKY_CEILING_HEIGHT                     object
SKY_CEILING_QUALITY                    object
SKY_CEILING_DETERMINATION              object
SKY_CEILING_CAVOK_CODE                 object
VIS_DISTANCE_DIM                       object
VIS_DISTANCE_QUALITY                   object
VIZ_VARIABILITY                        object
VIZ_QUALITY_VARIABILITY                object
AIR_TEMP                               object
AIR_TEMP_QUALITY                       object
AIR_DEW                                object
AIR_DEW_QUALITY                        object
ATM_PRESSURE                           object
ATM_PRESSURE_QUALITY                   object
COUNTRY_CODE                           object
dtype: object

In [20]:
# change the column order
cols_order=['STATION', 'DATE', 'LATITUDE', 'LONGITUDE', 'NAME','COUNTRY_CODE',  'WIND_DIRECTION_ANGLE',
       'WIND_DIRECTION_QUALITY_CODE', 'WIND_TYPE_CODE', 'WIND_SPEED_RATE',
       'WIND_SPEED_QUALITY_CODE', 'SKY_CEILING_HEIGHT', 'SKY_CEILING_QUALITY',
       'SKY_CEILING_DETERMINATION', 'SKY_CEILING_CAVOK_CODE',
       'VIS_DISTANCE_DIM', 'VIS_DISTANCE_QUALITY', 'VIZ_VARIABILITY',
       'VIZ_QUALITY_VARIABILITY', 'AIR_TEMP', 'AIR_TEMP_QUALITY', 'AIR_DEW',
       'AIR_DEW_QUALITY', 'ATM_PRESSURE', 'ATM_PRESSURE_QUALITY','KA1', 'KA2', 'MA1',
       'MD1', 'OC1', 'OD1']
frame=frame[cols_order]
frame.head()

       STATION                 DATE  LATITUDE  LONGITUDE                                    NAME COUNTRY_CODE WIND_DIRECTION_ANGLE WIND_DIRECTION_QUALITY_CODE WIND_TYPE_CODE WIND_SPEED_RATE WIND_SPEED_QUALITY_CODE SKY_CEILING_HEIGHT SKY_CEILING_QUALITY SKY_CEILING_DETERMINATION SKY_CEILING_CAVOK_CODE VIS_DISTANCE_DIM VIS_DISTANCE_QUALITY VIZ_VARIABILITY VIZ_QUALITY_VARIABILITY AIR_TEMP AIR_TEMP_QUALITY AIR_DEW AIR_DEW_QUALITY ATM_PRESSURE ATM_PRESSURE_QUALITY  KA1  KA2              MA1               MD1  OC1  OD1
0  72616354770  2022-01-01T00:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10147                    5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN
1  72616354770  2022-01-01T01:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00091                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10145                    5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN
2  72616354770  2022-01-01T02:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0017               5        10141                    5  NaN  NaN  10129,5,09753,5  8,9,004,9,+999,9  NaN  NaN
3  72616354770  2022-01-01T03:28:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000402                    5               N                       5    +0028                5   +0022               5        99999                    9  NaN  NaN  10129,5,09753,5               NaN  NaN  NaN
4  72616354770  2022-01-01T03:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000402                    5               N                       5    +0028                5   +0022               5        10143                    5  NaN  NaN  10129,5,09753,5               NaN  NaN  NaN

In [21]:
# insert station details

# create station details df and add primary key using index
station_details=frame[['STATION','NAME','COUNTRY_CODE','LATITUDE','LONGITUDE']].drop_duplicates().reset_index(drop=True)
station_details['STATION_ID']=station_details.index+1
station_details=station_details[['STATION_ID','STATION','NAME','COUNTRY_CODE','LATITUDE','LONGITUDE']]
# station_details['coordinates']=station_details.apply(lambda row : str((row['LATITUDE'],row['LONGITUDE'])),axis=1)
station_details

     STATION_ID      STATION                                    NAME COUNTRY_CODE   LATITUDE  LONGITUDE
0             1  72616354770  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US  42.806670 -72.001260
1             2  72611454771         MORRISVILLE STOWE STATE AIRPORT           US  44.532810 -72.615160
2             3  99822399999                          ALEXANDRIA BAY           US  44.333333 -75.933333
3             4  99729499999             POTTER COVE PRUDENCE ISLAND           US  41.637000 -71.339000
4             5  72509854704                NORWOOD MEMORIAL AIRPORT           US  42.191230 -71.173260
..          ...          ...                                     ...          ...        ...        ...
238         239  99843599999                              OGDENSBURG           US  44.703000 -75.495000
239         240  72618494709                         AUBURN LEWISTON           US  44.050000 -70.283330
240         241  71627999999                                GATINEAU           CA  45.521694 -75.563589
241         242  72611554740      SPRINGFIELD HARTNESS STATE AIRPORT           US  43.342110 -72.521310
242         243  72510514770         SELINSGROVE PENN VALLEY AIRPORT           US  40.819290 -76.865810

[243 rows x 6 columns]

In [22]:
# read country list file 
c=open('additional_files/country_list.txt','r')
s=c.read()
country_list=s.split("\n")
country_list[0:10]

['FIPS ID     COUNTRY NAME',
 '',
 'AA          ARUBA                                                                           ',
 'AC          ANTIGUA AND BARBUDA                                                             ',
 'AF          AFGHANISTAN                                                                     ',
 'AG          ALGERIA                                                                         ',
 'AI          ASCENSION ISLAND                                                                ',
 'AJ          AZERBAIJAN                                                                      ',
 'AL          ALBANIA                                                                         ',
 'AM          ARMENIA                                                                         ']

In [23]:
# create two lists for code and name to store values from above list
country_code=[]
country_name=[]
n=0
for item in country_list:
    if n>1:
        s=item.replace(' ','')
        country_code.append(s[0:2])
        country_name.append(s[2:])
    n+=1

In [24]:
# create a df which can be used to join stations df
country_df=pd.DataFrame({'COUNTRY_CODE':country_code,
              'COUNTRY_NAME':country_name})
country_df

    COUNTRY_CODE                     COUNTRY_NAME
0             AA                            ARUBA
1             AC                ANTIGUAANDBARBUDA
2             AF                      AFGHANISTAN
3             AG                          ALGERIA
4             AI                  ASCENSIONISLAND
..           ...                              ...
288           YY  ST.MARTEEN,ST.EUSTATIUS,ANDSABA
289           ZA                           ZAMBIA
290           ZI                         ZIMBABWE
291           ZM                            SAMOA
292           ZZ       ST.MARTINANDST.BARTHOLOMEW

[293 rows x 2 columns]

In [25]:
# get country name into the df doing a join on country_df
station_info=station_details.merge(country_df,on=['COUNTRY_CODE'],how='left')
station_info

     STATION_ID      STATION                                    NAME COUNTRY_CODE   LATITUDE  LONGITUDE  COUNTRY_NAME
0             1  72616354770  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US  42.806670 -72.001260  UNITEDSTATES
1             2  72611454771         MORRISVILLE STOWE STATE AIRPORT           US  44.532810 -72.615160  UNITEDSTATES
2             3  99822399999                          ALEXANDRIA BAY           US  44.333333 -75.933333  UNITEDSTATES
3             4  99729499999             POTTER COVE PRUDENCE ISLAND           US  41.637000 -71.339000  UNITEDSTATES
4             5  72509854704                NORWOOD MEMORIAL AIRPORT           US  42.191230 -71.173260  UNITEDSTATES
..          ...          ...                                     ...          ...        ...        ...           ...
238         239  99843599999                              OGDENSBURG           US  44.703000 -75.495000  UNITEDSTATES
239         240  72618494709                         AUBURN LEWISTON           US  44.050000 -70.283330  UNITEDSTATES
240         241  71627999999                                GATINEAU           CA  45.521694 -75.563589        CANADA
241         242  72611554740      SPRINGFIELD HARTNESS STATE AIRPORT           US  43.342110 -72.521310  UNITEDSTATES
242         243  72510514770         SELINSGROVE PENN VALLEY AIRPORT           US  40.819290 -76.865810  UNITEDSTATES

[243 rows x 7 columns]

In [26]:
# connect to mysql server and the database 
engine = create_engine('mysql+pymysql://root:password@localhost/weather_hourly')

@event.listens_for(engine, "before_cursor_execute")
def receive_before_cursor_execute(
       conn, cursor, statement, params, context, executemany
        ):
            if executemany:
                cursor.fast_executemany = True

In [27]:
# insert the station info to the database
station_info.to_sql('stations_info',con = engine,if_exists='replace',index=False)

243

## insert zip codes

In [30]:
zipcodes=pd.read_csv('additional_files/geonames-postal.csv',on_bad_lines='skip',delimiter=';')
print("shape:",zipcodes.shape)
zipcodes.head()

shape: (1550960, 13)

  country code postal code           place name admin name1 admin code1 admin name2 admin code2 admin name3 admin code3  latitude  longitude  accuracy        coordinates
0           JP    791-3120              Tsutsui   Ehime Ken          05     Iyo Gun     1861141  Masaki Cho         NaN   33.5765   132.7435       NaN  33.5765, 132.7435
1           JP    791-3162           Shutsusaku   Ehime Ken          05     Iyo Gun     1861141  Masaki Cho         NaN   33.5765   132.7435       NaN  33.5765, 132.7435
2           JP    799-3133        Shimokarakawa   Ehime Ken          05     Iyo Shi     1861143         NaN         NaN   33.7231   132.7267       NaN  33.7231, 132.7267
3           JP    799-3136              Unosaki   Ehime Ken          05     Iyo Shi     1861143         NaN         NaN   33.7084   132.7602       NaN  33.7084, 132.7602
4           JP    799-3207  Futamicho Takagishi   Ehime Ken          05     Iyo Shi     1861143         NaN         NaN   33.7449   132.7182       NaN  33.7449, 132.7182

In [31]:
# drop unnecessary columns
zipcodes=zipcodes.drop(['admin name3','admin code3','accuracy'],axis=1)

In [32]:
# rename columns
cols=['country_code','postal_code','place_name','state','state_code','county','county_code','latitude','longitude','coordinates']
zipcodes.columns=cols
zipcodes.head()

  country_code postal_code           place_name      state state_code   county county_code  latitude  longitude        coordinates
0           JP    791-3120              Tsutsui  Ehime Ken         05  Iyo Gun     1861141   33.5765   132.7435  33.5765, 132.7435
1           JP    791-3162           Shutsusaku  Ehime Ken         05  Iyo Gun     1861141   33.5765   132.7435  33.5765, 132.7435
2           JP    799-3133        Shimokarakawa  Ehime Ken         05  Iyo Shi     1861143   33.7231   132.7267  33.7231, 132.7267
3           JP    799-3136              Unosaki  Ehime Ken         05  Iyo Shi     1861143   33.7084   132.7602  33.7084, 132.7602
4           JP    799-3207  Futamicho Takagishi  Ehime Ken         05  Iyo Shi     1861143   33.7449   132.7182  33.7449, 132.7182

In [31]:
# insert zipcodes to the table
zipcodes.to_sql('zipcodes_info',con = engine,if_exists='replace',index=False,schema="weather_hourly")

1550960

### load weather hourly data

In [32]:
frame.head(3)

       STATION                DATE  LATITUDE  LONGITUDE                                    NAME COUNTRY_CODE WIND_DIRECTION_ANGLE WIND_DIRECTION_QUALITY_CODE WIND_TYPE_CODE WIND_SPEED_RATE WIND_SPEED_QUALITY_CODE SKY_CEILING_HEIGHT SKY_CEILING_QUALITY SKY_CEILING_DETERMINATION SKY_CEILING_CAVOK_CODE VIS_DISTANCE_DIM VIS_DISTANCE_QUALITY VIZ_VARIABILITY VIZ_QUALITY_VARIABILITY AIR_TEMP AIR_TEMP_QUALITY AIR_DEW AIR_DEW_QUALITY ATM_PRESSURE ATM_PRESSURE_QUALITY  KA1  KA2              MA1               MD1  OC1  OD1
0  72616354770 2022-01-01 00:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10147                    5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN
1  72616354770 2022-01-01 01:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00091                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10145                    5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN
2  72616354770 2022-01-01 02:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0017               5        10141                    5  NaN  NaN  10129,5,09753,5  8,9,004,9,+999,9  NaN  NaN

In [33]:
# get station id
wdf=frame.merge(station_info[['STATION_ID','STATION']],right_on=['STATION'],left_on=['STATION'],how='left')
wdf.head(3)

       STATION                 DATE  LATITUDE  LONGITUDE                                    NAME COUNTRY_CODE WIND_DIRECTION_ANGLE WIND_DIRECTION_QUALITY_CODE WIND_TYPE_CODE WIND_SPEED_RATE WIND_SPEED_QUALITY_CODE SKY_CEILING_HEIGHT SKY_CEILING_QUALITY SKY_CEILING_DETERMINATION SKY_CEILING_CAVOK_CODE VIS_DISTANCE_DIM VIS_DISTANCE_QUALITY VIZ_VARIABILITY VIZ_QUALITY_VARIABILITY AIR_TEMP AIR_TEMP_QUALITY AIR_DEW AIR_DEW_QUALITY ATM_PRESSURE ATM_PRESSURE_QUALITY  KA1  KA2              MA1               MD1  OC1  OD1  STATION_ID
0  72616354770  2022-01-01T00:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10147                    5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN           1
1  72616354770  2022-01-01T01:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00091                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10145                    5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN           1
2  72616354770  2022-01-01T02:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0017               5        10141                    5  NaN  NaN  10129,5,09753,5  8,9,004,9,+999,9  NaN  NaN           1

In [35]:
wdf=wdf[['STATION_ID','STATION', 'DATE', 'LATITUDE', 'LONGITUDE', 'NAME', 'COUNTRY_CODE',
       'WIND_DIRECTION_ANGLE', 'WIND_DIRECTION_QUALITY_CODE', 'WIND_TYPE_CODE',
       'WIND_SPEED_RATE', 'WIND_SPEED_QUALITY_CODE', 'SKY_CEILING_HEIGHT',
       'SKY_CEILING_QUALITY', 'SKY_CEILING_DETERMINATION',
       'SKY_CEILING_CAVOK_CODE', 'VIS_DISTANCE_DIM', 'VIS_DISTANCE_QUALITY',
       'VIZ_VARIABILITY', 'VIZ_QUALITY_VARIABILITY', 'AIR_TEMP',
       'AIR_TEMP_QUALITY', 'AIR_DEW', 'AIR_DEW_QUALITY', 'ATM_PRESSURE',
       'ATM_PRESSURE_QUALITY', 'KA1', 'KA2', 'MA1', 'MD1', 'OC1', 'OD1']]

In [36]:
# lower the column names
# lowwer case all columns
wdf.columns=list(x.lower() for x in wdf.columns)
print("shape:",wdf.shape)
wdf.head(3)

shape: (3713513, 32)

   station_id      station                 date  latitude  longitude                                    name country_code wind_direction_angle wind_direction_quality_code wind_type_code wind_speed_rate wind_speed_quality_code sky_ceiling_height sky_ceiling_quality sky_ceiling_determination sky_ceiling_cavok_code vis_distance_dim vis_distance_quality viz_variability viz_quality_variability air_temp air_temp_quality air_dew air_dew_quality atm_pressure atm_pressure_quality  ka1  ka2              ma1               md1  oc1  od1
0           1  72616354770  2022-01-01T00:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10147                    5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN
1           1  72616354770  2022-01-01T01:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00091                   5                         W                      N           000805                    5               N                       5    +0028                5   +0022               5        10145                    5  NaN  NaN  10132,5,09757,5               NaN  NaN  NaN
2           1  72616354770  2022-01-01T02:52:00  42.80667  -72.00126  JAFFREY MUNICIPAL AIRPORT SILVER RANCH           US                  999                           9              C            0000                       5              00061                   5                         W                      N           000805                    5               N                       5    +0028                5   +0017               5        10141                    5  NaN  NaN  10129,5,09753,5  8,9,004,9,+999,9  NaN  NaN

In [37]:
# check for duplicates because for a station and datetime there should be only one row
wdf[['station_id','date']].drop_duplicates().shape,wdf.shape

((3598835, 2), (3713513, 32))

(3713513, 32)

In [43]:
wdf = wdf.drop_duplicates(subset=['station_id', 'date'], keep='first')
wdf.shape

(3598835, 32)

In [45]:
# insert weather data to a table 
wdf.to_sql('weather_info_2022_hourly',con = engine,if_exists='replace',index=False)

3598835